 div.main-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;

  main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid grey;
    max-width: 1024px;
    position: relative;

    h1 {
      margin: 30px 0 30px;
    }

    div.game-container {
      display: flex;
      height: 180px;
      justify-content: space-between;
      position: relative;
      div.vl {
        height: 100%;
        background-color: grey;
        width: 1px;
        align-self: center;
      }
      div.ball {
        position: absolute;
        top: 100%;
        left: 35%;
        width: 40px;
        height: 40px;
        opacity: 0;
        transition: opacity ease-in 0.5s;

        &.player-two {
          left: 65%;
        }

        &::after {
          content: '';
          border-radius: 50%;
          background-color: #dfff4f;
          width: 40px;
          height: 40px;
          position: absolute;
        }

        &.show {
          opacity: 1;
          transition: opacity ease-in 0.5s;
        }

        &.animate {
          animation: xAxis 1s cubic-bezier(1,1.33,1,.89) 1 both;

          &::after {
            animation: yAxis 1s cubic-bezier(.86,1.53,.75,-0.14) 1 both;
          }
        }

        &.animate-reverse {
          animation: xAxisReverse 1s cubic-bezier(1,1.33,1,.89) 1 both;

          &::after {
            animation: yAxis 1s cubic-bezier(.86,1.53,.75,-0.14) 1 both;
          }
        }

        @keyframes xAxis {
          0% {
            left: 35%;
          }

          50% {
            left: 70%;
          }

          100% {
            left: 100%;
          }
        }

        @keyframes xAxisReverse {
          0% {
            left: 65%;
          }

          50% {
            left: 30%;
          }

          100% {
            left: 0;
          }
        }
        
        @keyframes yAxis {
          0% {
            top: 0;
          }

          50% {
            top: -90px;
          }

          100%{ 
            top: -180px;
          }
        }
      }
    }

    p {
      font-size: 2em;
      margin: 30px 0 30px;
      white-space: pre;
      font-weight: bold;
    }
    button.restart {
      color: var(--grok-blue);
      background-color: transparent;
      font-size: 36px;
      text-align: center;
      border: none;
      width: 36px;
      height: 36px;
      cursor: pointer;
      position: absolute;
      top: calc(100% - 40px);
      left: calc(100% - 36px);
    }
  }
}

@media only screen and (min-width: 768px) {
  div.main-container {
    main {
      padding: 10vw;
      div.game-container {
        width: 60vw;
      }
    }
  }
}